<div class="ui-fluid">
    <div>
        <p-panel header="Allgemeine Infos">
            <div class="ui-g">
                <div class="ui-g-12">
                    <b>{{data.userName}}</b>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="mt-5" *ngIf="isAdmin">
        <p-table title="Rollen" [value]="data.roles">
            <ng-template pTemplate="header">
                <tr>
                    <th>Rolle</th>
                    <th width="12%">
                        <button pButton class="action-button" icon="pi pi-plus" (click)="addRole()"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{row.name}}</td>
                    <td>
                        <button pButton class="action-button" icon="pi pi-trash" (click)="revokeRole(row.id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td colspan="2">
                        Keine Rollen zugewiesen
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>