<div [formGroup]="loginForm">
  <p-messages [(value)]="registerError"></p-messages>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" style="width: 346px" pInputText formControlName="name" placeholder="Username">
  </div>
  <div style="display: flex; flex-direction: column">
    <p-message severity="error" text="Username ist ein Pflichtfeld!"
      *ngIf="loginForm.controls.name.hasError('required') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username muss mindestens 3 Zeichen lang sein!"
      *ngIf="loginForm.controls.name.hasError('minlength') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username darf maximal 30 Zeichen lang sein!"
      *ngIf="loginForm.controls.name.hasError('maxlength') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username darf nur aus Buchstaben und Zahlen bestehen!"
      *ngIf="loginForm.controls.name.hasError('pattern') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
  </div>
  <div class="ui-inputgroup" style="margin-top: 5px">
    <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
    <input type="password" style="width: 346px" pInputText formControlName="pass" placeholder="Passwort">
  </div>
  <div style="display: flex; flex-direction: column;">
    <p-message severity="error" text="Passwort ist ein Pflichtfeld!"
      *ngIf="loginForm.controls.pass.hasError('required') && loginForm.controls.pass.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Passwort muss mindestens 6 Zeichen lang sein!"
      *ngIf="loginForm.controls.pass.hasError('minlength') && loginForm.controls.pass.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Passwort darf maximal 30 Zeichen lang sein!"
      *ngIf="loginForm.controls.pass.hasError('maxlength') && loginForm.controls.pass.touched" style="margin-top: 5px">
    </p-message>
  </div>
  <div class="ui-inputgroup" style="margin-top: 5px">
    <p-checkbox label="Login merken!" (onChange)="checkboxChanged($event)"></p-checkbox>
  </div>
  <div align="end" style="margin-top: 5px">
    <button pButton label="Einloggen" (click)="loginUser()" [disabled]="isLogingin" style="margin-right: 5px"></button>
    <button pButton label="Abbrechen" (click)="closeLoginForm()" [disabled]="isLogingin"></button>
  </div>
</div>