<div class="geronto-loading-shade" *ngIf="isLoading">
  <p-progressSpinner strokeWidth="4" fill="#EEEEEE"></p-progressSpinner>
</div>

<div class="geronto_container" *ngIf="!isLoading">
  <p-blockUI [blocked]="isDialogOpen">
  </p-blockUI>

  <div class="geronto_toolbar_wrapper">
    <p-menubar [model]="items" class="geronto_toolbar">
      <div *ngIf="!accountData">
        <button pButton label="Login" icon="pi pi-sign-in" (click)="login()"></button>
        <button pButton label="Registrieren" icon="pi pi-user-plus" style="margin-left:.25em"
          (click)="signup()"></button>
      </div>
      <div *ngIf="accountData">
        <p-splitButton [label]="accountData.userName" icon="pi pi-user" [model]="userMenu"></p-splitButton>
      </div>
    </p-menubar>

    <p-menubar [model]="burger" class="geronto_burger">
      <div *ngIf="!accountData">
        <button pButton label="Login" icon="pi pi-sign-in" (click)="login($event)"></button>
        <button pButton label="Registrieren" icon="pi pi-user-plus" style="margin-left:.25em"
          (click)="signup($event)"></button>
      </div>
      <div *ngIf="accountData">
        <p-splitButton [label]="accountData.userName" icon="pi pi-user" [model]="userMenu"></p-splitButton>
      </div>
    </p-menubar>
  </div>

  <p-sidebar [(visible)]="sidebarVisible">
    <p-menu [model]="items"></p-menu>
  </p-sidebar>

  <div class="geronto_content">
    <router-outlet></router-outlet>
  </div>
</div>

<p-dialog header="Login" [formGroup]="loginForm" [(visible)]="loginVisible" [style]="{width: '407px'}"
  [draggable]="false" [closable]="false">
  <p-messages [(value)]="registerError"></p-messages>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" style="width: 346px" pInputText formControlName="name" placeholder="Username">
  </div>
  <div style="display: flex; flex-direction: column">
    <p-message severity="error" text="Username ist ein Pflichtfeld!"
      *ngIf="loginForm.controls.name.hasError('required') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username muss mindestens 3 Zeichen lang sein!"
      *ngIf="loginForm.controls.name.hasError('minlength') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username darf maximal 30 Zeichen lang sein!"
      *ngIf="loginForm.controls.name.hasError('maxlength') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username darf nur aus Buchstaben und Zahlen bestehen!"
      *ngIf="loginForm.controls.name.hasError('pattern') && loginForm.controls.name.touched" style="margin-top: 5px">
    </p-message>
  </div>
  <div class="ui-inputgroup" style="margin-top: 5px">
    <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
    <input type="password" style="width: 346px" pInputText formControlName="pass" placeholder="Passwort">
  </div>
  <div style="display: flex; flex-direction: column;">
    <p-message severity="error" text="Passwort ist ein Pflichtfeld!"
      *ngIf="loginForm.controls.pass.hasError('required') && loginForm.controls.pass.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Passwort muss mindestens 6 Zeichen lang sein!"
      *ngIf="loginForm.controls.pass.hasError('minlength') && loginForm.controls.pass.touched" style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Passwort darf maximal 30 Zeichen lang sein!"
      *ngIf="loginForm.controls.pass.hasError('maxlength') && loginForm.controls.pass.touched" style="margin-top: 5px">
    </p-message>
  </div>
  <div class="ui-inputgroup" style="margin-top: 5px">
    <p-checkbox label="Login merken!" (onChange)="checkboxChanged($event)"></p-checkbox>
  </div>
  <p-footer>
    <button pButton label="Einloggen" (click)="loginUser()" [disabled]="isLogingin"></button>
    <button pButton label="Abbrechen" (click)="closeLoginForm()" [disabled]="isLogingin"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Registrieren" [formGroup]="registerForm" [style]="{width: '407px'}" [(visible)]="registerVisible"
  [draggable]="false" [closable]="false">

  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" style="width: 346px" pInputText placeholder="Username" (focusout)="checkUserExists()"
      formControlName="name">
  </div>
  <div style="display: flex; flex-direction: column;">
    <p-message severity="error" text="Username ist ein Pflichtfeld!"
      *ngIf="registerForm.controls.name.hasError('required') && registerForm.controls.name.touched"
      style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username muss mindestens 3 Zeichen lang sein!"
      *ngIf="registerForm.controls.name.hasError('minlength') && registerForm.controls.name.touched"
      style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username darf maximal 30 Zeichen lang sein!"
      *ngIf="registerForm.controls.name.hasError('maxlength') && registerForm.controls.name.touched"
      style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username darf nur aus Buchstaben und Zahlen bestehen!"
      *ngIf="registerForm.controls.name.hasError('pattern') && registerForm.controls.name.touched"
      style="margin-top: 5px">
    </p-message>
    <p-message severity="error" text="Username wird bereits verwendet!"
      *ngIf="registerForm.controls.name.hasError('alreadyInUse') && registerForm.controls.name.touched"
      style="margin-top: 5px">
    </p-message>
  </div>

  <div class="ui-inputgroup" style="margin-top: 5px">
    <span class=" ui-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" style="width: 346px" (focusout)="checkEmailExists()" pInputText placeholder="E-Mail"
      formControlName="mail">
  </div>
  <div style="display: flex; flex-direction: column;">
    <p-message severity="error" text="E-Mail-Adresse ist ein Pflichtfeld!" style="margin-top: 5px"
      *ngIf="registerForm.controls.mail.touched && registerForm.controls.mail.hasError('required')">
    </p-message>
    <p-message severity="error" text="Ungültige E-Mail-Adresse!" style="margin-top: 5px"
      *ngIf="registerForm.controls.mail.touched && registerForm.controls.mail.hasError('email')">
    </p-message>
    <p-message severity="error" text="E-Mail zu lange!" style="margin-top: 5px"
      *ngIf="registerForm.controls.mail.touched && registerForm.controls.mail.hasError('maxlength')">
    </p-message>
    <p-message severity="error" text="E-Mail wird schon verwendet!"
      *ngIf="registerForm.controls.mail.touched && registerForm.controls.mail.hasError('alreadyInUse')">
    </p-message>
  </div>

  <div class="ui-inputgroup" style="margin-top: 5px">
    <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
    <input type="password" style="width: 346px" pInputText placeholder="Passwort" formControlName="pass1">
  </div>
  <div style="display: flex; flex-direction: column;">
    <p-message severity="error" text="Passwort muss mindestens 6 Stellen lang sein!" style="margin-top: 5px"
      *ngIf="registerForm.controls.pass1.touched && registerForm.controls.pass1.hasError('minlength')">
    </p-message>
    <p-message severity="error" text="Passwort darf maximal 30 Stellen lang sein!" style="margin-top: 5px"
      *ngIf="registerForm.controls.pass1.touched && registerForm.controls.pass1.hasError('maxlength')">
    </p-message>
  </div>

  <div class="ui-inputgroup" style="margin-top: 5px">
    <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
    <input type="password" style="width: 346px" pInputText placeholder="Passwort wiederholen" formControlName="pass2">
  </div>
  <div style="display: flex; flex-direction: column;">
    <p-message severity="error" text="Passwörter stimmen nicht überein!" style="margin-top: 5px"
      *ngIf="registerForm.controls.pass2.touched && registerForm.controls.pass2.hasError('notSame')">
    </p-message>
  </div>

  <p-footer>
    <button pButton label="Registrieren" (click)="registerUser()" [disabled]="isRegistering"></button>
    <button pButton label="Abbrechen" (click)="closeRegisterForm()" [disabled]="isRegistering"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Registrierung erfolgreich" class="gerontocracy-dialog" [(visible)]="registerConfirmVisible"
  [draggable]="false" [closable]="false">
  Die Registrierung war erfolgreich, die wurde eine E-Mail zur Bestätigung zugesendet.
  Bitte überprüfe auch deinen Spam-Ordner!
  <p-footer>
    <button pButton label="OK" (click)="closeConfirmation()"></button>
  </p-footer>
</p-dialog>