<div class="ui-fluid">
    <p-panel header="Allgemeine Infos">
        <div class="ui-g">
            <div class="ui-g-12 ui-lg-8 ui-md-12">
                <b style="margin-top: 0px">{{data.titel}}</b>
            </div>
            <div class="ui-g-12 ui-lg-4 ui-md-12" *ngIf="!isPopup" align="end">
                <p-button icon="pi pi-window-maximize" (click)="popout.emit()"></p-button>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-8" *ngIf="data.politikerOverview">
                {{data.politikerOverview | fullname}}
            </div>
            <div class="ui-g-12 ui-md-8" *ngIf="!data.politikerOverview">
                Kein Verantwortlicher!
            </div>
            <div class="ui-g-12 ui-md-4" align="end">
                <button style="margin-right: 5px" pButton icon="pi pi-plus" (click)="onVoteClicked(VoteType.up)"
                    [ngClass]="{'ui-button-secondary': data.userVote !== VoteType.up}"></button>
                <button pButton icon="pi pi-minus" (click)="onVoteClicked(VoteType.down)"
                    [ngClass]="{'ui-button-secondary': data.userVote !== VoteType.down}"></button>
            </div>
        </div>
    </p-panel>
    <div style="margin-top: 5px" [ngStyle]="{ 'width' : isPopup ? '800px' : 'unset' }">
        <p-panel header="Beschreibung">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6">
                    {{data.erstelltVon.userName}}
                </div>
                <div class="ui-g-12 ui-md-6">
                    {{data.erstelltAm | date: 'dd.MM.yyyy hh:mm'}}
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    {{data.beschreibung}}
                </div>
            </div>
        </p-panel>
    </div>
    <div style="margin-top: 5px" [ngStyle]="{ 'width' : isPopup ? '800px' : 'unset' }">
        <p-table title="Quelle" [value]="data.quellen">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="2">Quellen</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td><a [href]="row.url" target="_blank">{{row.zusatz}}</a></td>
                    <td>{{row.url | url | stringTrim: 20}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>